*
{
    box-sizing: border-box;
}

body {
    background-image: url('Component/images/cloud.avif') ;
    background-repeat:no-repeat;
    background-size: cover;
    margin:0px;
    color:white;
    border:white 2px solid;
}
